<!DOCTYPE html>
<html>
<head>


  <title>Course Description</title>
</head>
<body>
  <h2>Course Description:</h2>
  <p>
    The Java Programming Course is designed to introduce students to the fundamentals of Java programming language. Whether you are a beginner or have some programming experience, this course will provide you with a solid foundation in Java development.
    </p>
    <p>Throughout the course, you will learn key concepts, syntax, and best practices for writing Java code. You will understand how to create classes, objects, and methods.The course will cover the following topics:</p>
  <ul>
    <li><a href="https://www.javatpoint.com/java-tutorial" target="_blank">Introduction to Java</a></li>
    <li><a href="https://www.javatpoint.com/java-variables" target="_blank">Variables and Data Types</a></li>
    <li><a href="https://www.javatpoint.com/control-flow-in-java" target="_blank">Control Statement</a></li>
    <li><a href="https://www.javatpoint.com/java-oops-concepts" target="_blank">Object-Oriented Programming (OOP)</a></li>
    <li><a href="https://www.javatpoint.com/java-oops-concepts#oops" target="_blank">What is OOP?</a></li>
    <li><a href="https://www.javatpoint.com/object-and-class-in-java" target="_blank">Object</a></li>
    <li><a href="https://www.javatpoint.com/object-and-class-in-java#class" target="_blank">Class</a></li>
    <li><a href="https://www.javatpoint.com/abstract-class-in-java" target="_blank">Abstraction</a></li>
    <li><a href="https://www.javatpoint.com/encapsulation" target="_blank">Encapsulation</a></li>
    <li><a href="https://www.javatpoint.com/inheritance-in-java" target="_blank">Inheritance</a></li>
    <li><a href="https://www.javatpoint.com/method-overloading-in-java" target="_blank">Polymorphism</a></li>
    <li><a href="https://www.javatpoint.com/access-modifiers" target="_blank">Access Modifier</a></li>
    <li><a href="https://www.javatpoint.com/interface-in-java" target="_blank">Interface</a></li>
    <li><a href="https://www.javatpoint.com/exception-handling-in-java" target="_blank">Exception Handling</a></li>
    <li><a href="https://www.javatpoint.com/multithreading-in-java" target="_blank">Thread and Multithreading</a></li>
  </ul>

  <h2>Additional Resources:</h2>
  <ul>
    <li><a href="https://docs.oracle.com/javase/tutorial/java/concepts/" target="_blank">Resource 1-Website</a></li>
    <li><a href="https://youtu.be/eIrMbAQSU34" target="_blank">Resource 2 - youtube Link</a></li>
  </ul>

</body>
</html>
