<div class="container">
  <div class="StudentDetails"  >
    <h2>Student's Information</h2>
    <table style=" font-size: small;">
      <tr>
        <th>Student Name</th>
        <th>RollNumber</th>
        <th>Father's Name</th>
        <th>Department</th>
        <th>Year</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Parent's PhoneNumber</th>
    </tr>

      <tr *ngFor="let details of studentDetails">
          <td>{{details.username}}</td>
          <td>{{details.rollnumber}}</td>
          <td>{{details.fathername}}</td>
          <td>{{details.department}}</td>
          <td>{{details.year}}</td>
          <td>{{details.dob}}</td>
          <td>{{details.gender}}</td>
          <td>{{details.email}}</td>
          <td>{{details.address}},{{details.city}},{{details.district}} District,{{details.state}}</td>
          <td>{{details.phonenumber}}</td>
          <td>{{details.parentphonenumber}}</td>
      </tr>
      </table>
</div>
</div>
