
.containerbody {
  padding: 10px;

}

.center {
    margin: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.FormContainer {
  border-radius: 10px;
  background-color: #fefefe;
  padding: 20px;
  box-shadow: 0 2px 10px 0 grey;
  position:absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type=text], select {
  width: 60%;
  padding: 9px 17px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=password], select {
    width: 60%;
    padding: 9px 17px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button{
  padding: 9px 11px;
  width: 35%;
  border: none;
  border-radius: 10px;
  background: #44AC33;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color:#3ae620;
}

.forgotPassword {
 color: #44AC33;
  font-size:14px;
  margin-left: -55%;
  cursor: pointer;
}
body{
  overflow-y: hidden;
  margin-top: 3.5%;
  background-image: url('/assets/images/PictureOfLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:fixed;
  width: 100%;
  height: 90vh;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
div small
{
  color: red;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-content form{

  padding: 10px;
  margin-left: 5%;
}
.modal-content input
{
  padding: 5px;
  width: 40%;
  border-radius: 4px;
}
.modal-content label
{
  padding-bottom: 250px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
