.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
div small
{
  color: red;
}
body
{
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 2%;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-content button
{
  background-color: #44AB44;
  color:white;
}
.modal-content input
{
  padding: 5px;
  width: 40%;
  border-radius: 4px;
}
.modal-content label
{
  padding-bottom: 250px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table
{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
th{
  background-color: #44AB44;
}
th,td{
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}
td button
{
  color: white;
  background-color: #44AB44;
  width: 40%;
  padding: 4px;
  border-radius: 3px;
}
