<body>


  <table>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Add password</th>
    </tr>
    <tr *ngFor="let details of passwordChangeRequest">
      <td>{{details.username}}</td>
      <td>{{details.email}}</td>
      <td><button (click)="openChangePassword(details.username,details.email,details.id)">Add Password</button></td>
  <div *ngIf="changePassword" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeChangePassword()">&times;</span>

        <label for="name">Username:{{username}}</label>
        <br>
      <label for="email">Email:{{email}}</label>

      <br>
      <label for="password">Password:<input type="password" placeholder="Enter Password"></label>
      <br>
      <button (click)="submit(id)">Send</button>
    </div>
  </div>
    </tr>
  </table>
  </body>
