body {
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-top: 5%;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
  margin-top: 20px;
}

p {
  color: #444;
}

ul {
  list-style-type: disc;
  color: #555;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
