
.container{
  background-color: #f2f2f2;
  padding-left: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  overflow-y: hidden;
  padding-bottom: 40px;
  margin-top: 4%;
  margin-left: 2%;
}
td div small {
  color: red;
}
td input[type=text],input[type=number],select {
  width: 80%;
  margin-bottom: 20px;
  padding: 8px;

  border: 1px solid #ccc;
  border-radius: 3px;
}
table{
  align-items: center;
  width: 100%;
  overflow: hidden;

}
body{
  overflow: hidden;
}
label {
  margin-bottom: 10px;
  display: block;
}
.icon-container {
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 24px;
}


.btn {
  background-color: #04AA6D;
  margin-left: 32%;
  color: white;
  padding: 12px;

  border: none;
  width: 30%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
td p {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 2%;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn:hover {
  background-color: #45a049;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}

.fa-spinner {
  font-size: 32px;
}
